.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homeHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 0 5px 0 15px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.homeHeader a {
  margin-right: 14px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}

.homeHeader a:hover {
  text-decoration: underline;
}

.homeHeaderRight {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}

.homeHeaderRight > .MuiSvgIcon-root {
  margin-right: 12px;
}

.homeBody {
  flex: 1;
  display: flex;
  margin-top: 190px;
  flex-direction: column;
  align-items: center;
}

.homeFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1200px) {
  .homeFooter {
    justify-content: space-evenly;
  }
}

.homeFooter a {
  margin-right: 14px;
  text-decoration: inherit;
  color: rgb(81, 77, 77);
  font-size: 13px;
}

.homeFooter a:hover {
  text-decoration: underline;
}

.Footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(128, 128, 128, 0.151);
  height: 85px;
  padding: 0 20px;
}

@media screen and (max-width: 600px) {
  .Footer {
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .Footer {
    height: 45px;
  }
}

.FooterLeft {
  justify-content: flex-start;
  min-width: 30%;
  order: 1;
}

@media screen and (max-width: 600px) {
  .FooterLeft {
    order: 1;
    width: 100%;
    justify-content: center;
  }
}

.FooterMiddle {
  order: 2;
}

@media screen and (max-width: 1200px) {
  .FooterMiddle {
    order: 0;
    width: 100%;
    justify-content: center;
  }
}

.FooterRight {
  justify-content: flex-end;
  min-width: 30%;
  order: 3;
}
